# Wallet
PRIVATE_KEY=

# RPC
ARBITRUM_RPC_URL=

# Quoters
UNISWAP_QUOTER_ADDRESS=
SUSHISWAP_QUOTER_ADDRESS=
PANCAKESWAP_QUOTER_ADDRESS=
CAMELOT_QUOTER_ADDRESS=
RAMSES_QUOTER_ADDRESS=
TRADERJOE_QUOTER_ADDRESS=

# Multicall
MULTICALL_ADDRESS=

# Routers
UNISWAPV2_ROUTER_ADDRESS=
UNISWAPV3_ROUTER_ADDRESS=
SUSHISWAPV2_ROUTER_ADDRESS=
SUSHISWAPV3_ROUTER_ADDRESS=
PANCAKESWAPV2_ROUTER_ADDRESS=
PANCAKESAPV3_ROUTER_ADDRESS=
CAMELOTV2_ROUTER_ADDRESS=
CAMELOTV3_ROUTER_ADDRESS=
RAMSESV3_ROUTER_ADDRESS=
TRADERJOEV2_ROUTER_ADDRESS=

# Arbitrage contract address
ARB_ARBITRUM=
